"'Leave Application' As screen":

    "cmp_ApplyLeave_Background As 'Screen Background'":
        HeaderTitle: =gal_applyLeave_MenuTab.Selected.Name

    gal_applyLeave_MenuTab As gallery.galleryHorizontal:
        DelayItemLoading: =true
        Height: =100
        Items: =Col_Tabs
        LoadingSpinner: =LoadingSpinner.Data
        TemplateSize: =437
        Width: =1343
        X: =11
        Y: =95
        ZIndex: =2

        Rectangle1_2 As rectangle:
            Fill: =RGBA(215, 223, 240, 1)
            Height: =5
            OnSelect: =Select(Parent)
            Visible: =varSelectedTab = ThisItem.ID
            Width: =177
            X: =130
            Y: =85
            ZIndex: =1

        Button5_2 As button:
            BorderThickness: =1
            Color: =RGBA(0, 0, 0, 1)
            Fill: =RGBA(173, 216, 230, 1)
            Font: =Font.Georgia
            OnSelect: =Navigate(ThisItem.Screen);Select(Parent)
            RadiusBottomLeft: =25
            RadiusBottomRight: =25
            RadiusTopLeft: =25
            RadiusTopRight: =25
            Text: =ThisItem.Name
            Width: =177
            X: =130
            Y: =33
            ZIndex: =2

    Form1 As form:
        DataSource: =Leave
        DefaultMode: =FormMode.New
        Height: =375
        NumberOfColumns: =2
        Width: =1339
        X: =14
        Y: =215
        ZIndex: =3

        "'Start Date_DataCard1' As typedDataCard.dateEditCard":
            BorderColor: =RGBA(173, 216, 230, 1)
            BorderStyle: =BorderStyle.Solid
            DataField: ="From"
            Default: =ThisItem.'Start Date'
            DisplayMode: =Parent.DisplayMode
            DisplayName: =DataSourceInfo([@Leave],DataSourceInfo.DisplayName,"From")
            Fill: =RGBA(0, 0, 0, 0)
            Height: =50
            Required: =true
            Update: =DataCardValue6.SelectedDate
            Width: =669
            X: =0
            Y: =0
            ZIndex: =4

            DataCardKey6 As label:
                AutoHeight: =true
                Font: =Font.Georgia
                FontWeight: =FontWeight.Semibold
                Height: =34
                Size: =16
                Text: =Parent.DisplayName
                Width: =Parent.Width - 60
                Wrap: =false
                X: =30
                Y: =10
                ZIndex: =1

            DataCardValue6 As datepicker:
                BorderColor: =If(IsBlank(Parent.Error), Parent.BorderColor, Color.Red)
                DefaultDate: =Parent.Default
                DisplayMode: =Parent.DisplayMode
                EndYear: =Year(Today())+100
                Font: =Font.Georgia
                IconBackground: =RGBA(173, 216, 230, 1)
                IsEditable: =true
                PaddingBottom: =0
                PaddingLeft: =If(Self.DisplayMode = DisplayMode.Edit, 5, 0)
                Size: =16
                StartYear: =1899
                Tooltip: =Parent.DisplayName
                Width: =Parent.Width - 60
                X: =30
                Y: =DataCardKey6.Y + DataCardKey6.Height + 5
                ZIndex: =2

            ErrorMessage6 As label:
                AutoHeight: =true
                Height: =10
                Live: =Live.Assertive
                PaddingBottom: =0
                PaddingLeft: =0
                PaddingRight: =0
                PaddingTop: =0
                Text: =Parent.Error
                Visible: =Parent.DisplayMode=DisplayMode.Edit
                Width: =Parent.Width - 60
                X: =30
                Y: =DataCardValue6.Y + DataCardValue6.Height
                ZIndex: =3

            StarVisible6 As label:
                Align: =Align.Center
                Height: =DataCardKey6.Height
                Text: ="*"
                Visible: =And(Parent.Required, Parent.DisplayMode=DisplayMode.Edit)
                Width: =30
                Wrap: =false
                Y: =DataCardKey6.Y
                ZIndex: =4

        "'Leave Type_DataCard1' As typedDataCard.comboBoxEditCard":
            BorderColor: =RGBA(173, 216, 230, 1)
            BorderStyle: =BorderStyle.Solid
            DataField: ="Leave_Type"
            Default: =ThisItem.'Leave Type'
            DisplayMode: =Parent.DisplayMode
            DisplayName: =DataSourceInfo([@Leave],DataSourceInfo.DisplayName,"Leave_Type")
            Fill: =RGBA(0, 0, 0, 0)
            Height: =50
            Required: =false
            Update: =DataCardValue2.Selected
            Width: =669
            X: =1
            Y: =0
            ZIndex: =4

            DataCardKey2 As label:
                AutoHeight: =true
                Font: =Font.Georgia
                FontWeight: =FontWeight.Semibold
                Height: =34
                Size: =16
                Text: =Parent.DisplayName
                Width: =Parent.Width - 60
                Wrap: =false
                X: =30
                Y: =10
                ZIndex: =1

            DataCardValue2 As combobox:
                BorderColor: =If(IsBlank(Parent.Error), Parent.BorderColor, Color.Red)
                ChevronBackground: =RGBA(173, 216, 230, 1)
                DefaultSelectedItems: =Parent.Default
                DisplayFields: =["Value"]
                DisplayMode: =Parent.DisplayMode
                Font: =Font.Georgia
                Items: =Choices([@Leave].Leave_Type)
                PaddingLeft: =If(Self.DisplayMode = DisplayMode.Edit, 5, 0)
                SearchFields: =["Value"]
                SearchItems: =Choices(Leave.Leave_Type,DataCardValue2.SearchText)
                SelectMultiple: =false
                Size: =16
                Tooltip: =Parent.DisplayName
                Width: =Parent.Width - 60
                X: =30
                Y: =DataCardKey2.Y + DataCardKey2.Height + 5
                ZIndex: =2

            ErrorMessage2 As label:
                AutoHeight: =true
                Height: =10
                Live: =Live.Assertive
                PaddingBottom: =0
                PaddingLeft: =0
                PaddingRight: =0
                PaddingTop: =0
                Text: =Parent.Error
                Visible: =Parent.DisplayMode=DisplayMode.Edit
                Width: =Parent.Width - 60
                X: =30
                Y: =DataCardValue2.Y + DataCardValue2.Height
                ZIndex: =3

            StarVisible2 As label:
                Align: =Align.Center
                Height: =DataCardKey2.Height
                Text: ="*"
                Visible: =And(Parent.Required, Parent.DisplayMode=DisplayMode.Edit)
                Width: =30
                Wrap: =false
                Y: =DataCardKey2.Y
                ZIndex: =4

        "'End Date_DataCard1' As typedDataCard.dateEditCard":
            BorderColor: =RGBA(173, 216, 230, 1)
            BorderStyle: =BorderStyle.Solid
            DataField: ="To"
            Default: =ThisItem.'End Date'
            DisplayMode: =Parent.DisplayMode
            DisplayName: =DataSourceInfo([@Leave],DataSourceInfo.DisplayName,"To")
            Fill: =RGBA(0, 0, 0, 0)
            Height: =50
            Required: =true
            Update: =DataCardValue7.SelectedDate
            Width: =669
            X: =0
            Y: =1
            ZIndex: =4

            DataCardKey7 As label:
                AutoHeight: =true
                Font: =Font.Georgia
                FontWeight: =FontWeight.Semibold
                Height: =34
                Size: =16
                Text: =Parent.DisplayName
                Width: =Parent.Width - 60
                Wrap: =false
                X: =30
                Y: =10
                ZIndex: =1

            DataCardValue7 As datepicker:
                BorderColor: =If(IsBlank(Parent.Error), Parent.BorderColor, Color.Red)
                DefaultDate: =Parent.Default
                DisplayMode: =Parent.DisplayMode
                EndYear: =Year(Today())+100
                Font: =Font.Georgia
                IconBackground: =RGBA(173, 216, 230, 1)
                IsEditable: =true
                PaddingBottom: =0
                PaddingLeft: =If(Self.DisplayMode = DisplayMode.Edit, 5, 0)
                Size: =16
                StartYear: =1899
                Tooltip: =Parent.DisplayName
                Width: =Parent.Width - 60
                X: =30
                Y: =DataCardKey7.Y + DataCardKey7.Height + 5
                ZIndex: =2

            ErrorMessage7 As label:
                AutoHeight: =true
                Height: =10
                Live: =Live.Assertive
                PaddingBottom: =0
                PaddingLeft: =0
                PaddingRight: =0
                PaddingTop: =0
                Text: =Parent.Error
                Visible: =Parent.DisplayMode=DisplayMode.Edit
                Width: =Parent.Width - 60
                X: =30
                Y: =DataCardValue7.Y + DataCardValue7.Height
                ZIndex: =3

            StarVisible7 As label:
                Align: =Align.Center
                Height: =DataCardKey7.Height
                Text: ="*"
                Visible: =And(Parent.Required, Parent.DisplayMode=DisplayMode.Edit)
                Width: =30
                Wrap: =false
                Y: =DataCardKey7.Y
                ZIndex: =4

        Days_DataCard1 As typedDataCard.textualEditCard:
            BorderColor: =RGBA(173, 216, 230, 1)
            BorderStyle: =BorderStyle.Solid
            DataField: ="Num_Days"
            Default: =ThisItem.Days
            DisplayMode: =Parent.DisplayMode
            DisplayName: =DataSourceInfo([@Leave],DataSourceInfo.DisplayName,"Num_Days")
            Fill: =RGBA(0, 0, 0, 0)
            Height: =50
            MaxLength: =DataSourceInfo([@Leave], DataSourceInfo.MaxLength, "Num_Days")
            Required: =false
            Update: =DataCardValue3.Text
            Width: =669
            X: =1
            Y: =1
            ZIndex: =4

            DataCardKey3 As label:
                AutoHeight: =true
                Font: =Font.Georgia
                FontWeight: =FontWeight.Semibold
                Height: =34
                Size: =16
                Text: =Parent.DisplayName
                Width: =Parent.Width - 60
                Wrap: =false
                X: =30
                Y: =10
                ZIndex: =1

            DataCardValue3 As text:
                AccessibleLabel: |
                    =""
                BorderColor: =If(IsBlank(Parent.Error), Parent.BorderColor, Color.Red)
                Default: =DateDiff(DataCardValue6.SelectedDate, DataCardValue7.SelectedDate, ThisItem.Days)
                DelayOutput: =true
                DisplayMode: =DisplayMode.Disabled
                Font: =Font.Georgia
                MaxLength: =Parent.MaxLength
                PaddingLeft: =5
                RadiusBottomLeft: =0
                RadiusBottomRight: =0
                RadiusTopLeft: =0
                RadiusTopRight: =0
                Size: =16
                Tooltip: =Parent.DisplayName
                Width: =Parent.Width - 60
                X: =30
                Y: =DataCardKey3.Y + DataCardKey3.Height + 5
                ZIndex: =2

            ErrorMessage3 As label:
                AutoHeight: =true
                Height: =10
                Live: =Live.Assertive
                PaddingBottom: =0
                PaddingLeft: =0
                PaddingRight: =0
                PaddingTop: =0
                Text: =Parent.Error
                Visible: =Parent.DisplayMode=DisplayMode.Edit
                Width: =Parent.Width - 60
                X: =30
                Y: =DataCardValue3.Y + DataCardValue3.Height
                ZIndex: =3

            StarVisible3 As label:
                Align: =Align.Center
                Height: =DataCardKey3.Height
                Text: ="*"
                Visible: =And(Parent.Required, Parent.DisplayMode=DisplayMode.Edit)
                Width: =30
                Wrap: =false
                Y: =DataCardKey3.Y
                ZIndex: =4

        Attachments_DataCard1 As typedDataCard.attachmentsEditCard:
            BorderColor: =RGBA(173, 216, 230, 1)
            BorderStyle: =BorderStyle.Solid
            DataField: ="{Attachments}"
            Default: =ThisItem.Attachments
            DisplayMode: =Parent.DisplayMode
            DisplayName: =DataSourceInfo([@Leave],DataSourceInfo.DisplayName,"{Attachments}")
            Fill: =RGBA(0, 0, 0, 0)
            Height: =50
            Required: =false
            Update: =DataCardValue8.Attachments
            Width: =669
            X: =0
            Y: =2
            ZIndex: =4

            DataCardKey8 As label:
                AutoHeight: =true
                Font: =Font.Georgia
                FontWeight: =FontWeight.Semibold
                Height: =34
                Size: =16
                Text: =Parent.DisplayName
                Width: =Parent.Width - 60
                Wrap: =false
                X: =30
                Y: =10
                ZIndex: =1

            DataCardValue8 As attachments:
                BorderColor: =If(IsBlank(Parent.Error), Parent.BorderColor, Color.Red)
                DisplayMode: =Parent.DisplayMode
                Font: =Font.Georgia
                IsInDataCard: =true
                Items: =Parent.Default
                PaddingBottom: =5
                PaddingLeft: =If(Self.DisplayMode = DisplayMode.Edit, 5, 0)
                PaddingRight: =5
                PaddingTop: =5
                Size: =16
                Tooltip: =Parent.DisplayName
                Width: =Parent.Width - 60
                X: =30
                Y: =DataCardKey8.Y + DataCardKey8.Height + 5
                ZIndex: =2

            ErrorMessage8 As label:
                AutoHeight: =true
                Height: =10
                Live: =Live.Assertive
                PaddingBottom: =0
                PaddingLeft: =0
                PaddingRight: =0
                PaddingTop: =0
                Text: =Parent.Error
                Visible: =Parent.DisplayMode=DisplayMode.Edit
                Width: =Parent.Width - 60
                X: =30
                Y: =DataCardValue8.Y + DataCardValue8.Height
                ZIndex: =3

            StarVisible8 As label:
                Align: =Align.Center
                Height: =DataCardKey8.Height
                Text: ="*"
                Visible: =And(Parent.Required, Parent.DisplayMode=DisplayMode.Edit)
                Width: =30
                Wrap: =false
                Y: =DataCardKey8.Y
                ZIndex: =4

    btn_LeaveApplication_Submit As button:
        Color: =RGBA(0, 0, 0, 1)
        Fill: =RGBA(173, 216, 230, 1)
        Font: =Font.Georgia
        OnSelect: |-
            =SubmitForm(Form1
            );ResetForm(Form1);
            Navigate('Leave Status')
        Text: ="Submit"
        X: =1167
        Y: =620
        ZIndex: =4

